#svg {
  width: 300px;
  height: 300px;
  border: 1px solid #000000;
  display: block;
}
html {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

th,
td {
  font:14px Verdana;
  overflow-wrap: normal;
}

th {
  font-weight: bold
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
table  { border-collapse: collapse; width: 100%; }

.tableFixHead          { overflow: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

.DtaMedia0 {
  background-color: #a0b7ed;
}
.DtaMedia1 {
  background-color: #f70818;  
}
.DtaMedia2 {
  background-color: #eaf84c;
}

.collDesc {
  background-color: white;
} 

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

menu {
  display: flex;
  list-style: none;
  padding: 0;
  width: 400px;
}
li {
  flex-grow: 1;
}


label[for="togglePanel"] {
  font-size: 3rem;
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
input[id="togglePanel"] {
  position: absolute;
  top: -100px;
}
aside {
  background-color: hsl(351, 95%, 40%);
  color: white;
  width: 320px;
  height: 100%;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: -370px;
  transition: 0.6s all;
}
input[type="checkbox"]:checked + aside {
  right: 0px;
}
